{{#*inline "page"}}
    <div class="form-container">
        <form action="confirm" method="post">
            <input type="hidden" name="cid" value="{{cid}}">
            <label for="code">Enter the 6 digit confirm code sent to {{email}}</label>
            <br/>
            <input id="code" class="form-field" type="number" placeholder="6 number code" name="code" maxlength="6"
                   minlength="6"/>

            <button class="form-field" type="submit">Complete</button>
        </form>
    </div>
{{/inline}}
{{> (lookup this "parent")}}
