{{#*inline "page"}}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus, leo non rutrum ultricies, enim
        arcu
        ultrices dui, eu sodales nulla nisi at orci.</p>
    <p>Maecenas vitae malesuada ex, sed commodo lectus.</p>
    <div class="form-container">

        <form action="print" method="post">
            <input type="hidden" name="cid" value="{{cid}}">
            <button class="form-field" type="submit">Print your QR code 👇</button>
        </form>

        <svg viewBox="0 0 30 30" width="100" height="100" preserveAspectRatio="xMidYMid meet" fill="#FCDC4D">
            <path d="{{qr_svg_path_d}}"/>
        </svg>

    </div>

<!-- <div style="background-color: yellow; height: 100px; width: 100px;">&ndash;&gt;-->




{{/inline}}
{{> (lookup this "parent")}}
