<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="#000000" name="theme-color"/>
    <meta content="get your lost things back with a QR code" name="description"/>
    <link href="assets/favicon.ico" rel="icon"/>
    <link rel="stylesheet" href="assets/index.css">
    <title>{{title}}</title>
</head>
<body>
<h1>QR Lost</h1>
{{> page}}
<p><a href="/">Home</a> | <a href="test">Test</a>| <a href="print">Print</a></p>
</body>
</html>
